.footer {
    padding: 89px 0;
    background-color: var(--color-light-alt);
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.footer__logo {
    font-weight: 700;
    font-size: 32px;
    line-height: 128%;
    font-family: var(--font-montser);
    margin-bottom: 16px;
}

.footer__form {
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer__form--input {
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-dark);
    padding-inline: 16px;
    width: 466px;
    font-family: var(--font-inter);
}

.footer__warning {
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: var(--color-gray);
}

.footer__extra {
    display: flex;
    column-gap: 66px;
}

.column__title {
    margin-bottom: 24px;
}

.column__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.column__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.column__link {
    column-gap: 10px;
    align-items: center;
}

.footer__follow {
    margin: 21px 0;
}

@media(max-width: 1145px) {
    .footer__inner {
        flex-direction: column;
    }

    .footer__form {
        flex-direction: column;
    }

    .footer__form--input {
        width: 100%;
    }
}